*{
  text-decoration: none;
  color: #848484;
}
html, body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  /*overflow: hidden;*/
}
html {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}
/*HEADER*/
header {
  padding: 13px;
  background-color: #262526;
  border-bottom: solid 2px #1c1c1c;
  position: sticky;
}
#header_logo, #header_logo a{
  margin: 0 auto;
  color: #258B8D;
  font-family: 'Montserrat', sans-serif;
}
/*burger_icon*/
#burger_icon {
  display: none;
  color: #424242;
  font-size: 30px;
  line-height: 70px;
}
#burger_icon_checkbox {
  display: none;
  float: right;
  margin-top: -40px;
}
/*header navigation bar*/
header nav {
  text-align: right;
}
header nav ul {
  list-style: none;
  margin: -30px 20px 10px 0;
}
header nav ul li {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
}
#nav_home a {
  border-bottom: solid 1px #444444;
}
#nav_home a:hover {
  border-bottom: solid 1px #258B8D;
}
#nav_login {
  color: #258B8D;
  background-color: #212121;
  border: solid 1px #258B8D;
  border-radius: 5px;
  padding: 5px;
}
header nav ul li a {
  padding: 3px 15px;
}
header nav ul li a:hover {
  border-bottom: solid 1px #258B8D;
}
/*MAIN*/
/*carousel images*/

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.carousel_size {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 0px 67px 2px rgba(0,0,0,0.75);
}
#carousel_img_01 {background-image: url("../../pictures/pictures_home/P1000510.JPG");}
#carousel_img_02 {background-image: url("../../pictures/pictures_home/P07.JPG");}
#carousel_img_03 {background-image: url("../../pictures/pictures_home/P10.JPG");}
#carousel_img_04 {background-image: url("../../pictures/pictures_home/P04.JPG");}
.quote_container {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.vertical_align {
}
h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 8px #111;
}
.quote {
  color: white;
  font-size: 15px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px #111;
  line-height: 3rem;
}
.gps_container {
}
.gps_ul {
  list-style: none;
  display: block;
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}
.gps_ul li {
  height: 32px;
  text-align: center;
  display: inline-block;
}
.gps_icon {
  margin-bottom: -5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.coordinates {
  text-shadow: 2px 2px 8px #111;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.arrow {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: 0;
  height: 0;
}
#backward_carousel{
  opacity: 0;
  left: 0;
  margin-left: 540px;
  transition: opacity 1000ms ease-in-out, transform 1000ms cubic-bezier(0.15, 1.18, 0.63, 0.99);
}

#backward_carousel #backward_logo {
  width: 32px;
  transform: rotate(180deg);
}
#forward_carousel{
  opacity: 0;
  right: 0;
  margin-right: 600px;
  transition: opacity 1000ms ease-in-out, transform 1000ms cubic-bezier(0.15, 1.18, 0.63, 0.99);
}
#forward_carousel #forward_logo {
 width: 32px;
}


/*social media*/
#social_media_container {
  margin: none;
}
.social_media {
  list-style: none;
  position: fixed;
  bottom: 0%;
  left: 0%;
  margin: 0 auto;
  padding: 0;
}
.social_media_list{
  display: block;
  width: 36px;
  height: 36px;
}
.social_media_logos {
  width: 36px;
  height: 36px;
}
.show_social_media {
  width: 36px;
  height: 36px;
  margin-bottom: -4px;
  cursor: pointer;
}

/*current index -> for image slider*/
.current_index_container {
  display: block;
  margin: 0 auto;
  position: fixed;
  padding: none;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 36px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6)
}
.current_index {
  cursor: pointer;
  display: inline-block;
  margin: 8px;
  margin-bottom: -8px;
  height: 7px;
  width: 7px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
/*FOOTER*/
