*{
  text-decoration: none;
  color: #848484;
}
html, body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: black;
}
html {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}
/*preloader*/
.preloader_container {
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #191919;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.64);
  text-align: center;
  width: 100%;
  height: 100%;
}
#enter {
  display: block;
  position: relative;
  top: 40%;
  margin: 0 auto;
  font-size: 30px;
  cursor: pointer;
  color: #3d3d3d;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.enter_animation_arrive {
  animation: enter_animation_arrive 500ms ease-in-out;
}
@keyframes enter_animation_arrive {
  0% {
    margin-left: -300px;
  }
  80% {
    transform: scale(1.3)
  }
  100% {
    margin: 0;
  }
}
.enter_animation_leave {
  animation: enter_animation_leave 800ms ease-in-out;
  opacity: 0;
}
@keyframes enter_animation_leave {
  0% {
    opacity: 1;
    margin: 0;
    transform: scale(1.5)
  }
  30% {
    margin: 0;
  }
  100% {
    opacity: 0;
    margin-right: -300px;
  }
}
/*ellipse animation*/
.wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 25%;
  text-align: center;
  padding: 20px;
}
.outer_ellipse_thin {
  display: inline-block;
  border-radius: 50%;
  border: solid 1.3px transparent;
  border-left-color: #258B8D;
  border-right-color: #258B8D;
  border-top-color:#3d3d3d;
  border-bottom-color: #3d3d3d;
  width: 151px;
  height: 150px;
  opacity: .7;
  animation: ellipseRotate 5s ease-in-out infinite;
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes ellipseOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(405deg)
  }
}
.ellipse_animation_leave {
  animation: ellipse_leave 2000ms ease-in-out;
  opacity: 0;
}
@keyframes ellipse_leave {
  0% {
    margin: 0;
    opacity: 1;
  }
  30% {
    border-left-color: green;
    border-right-color: green;
  }
  50% {
    border-left-color: red;
    border-right-color: red;
  }
  70% {
    opacity: 0;
  }
  100% {
    margin-top: -300px;
    transform: rotate(-500deg) scale(1.8);
    opacity: 0;
  }
}
/*load animation*/
.load_animation {
  animation: item 600ms ease-in-out;
}
@keyframes item {
  0% {
    opacity: 0;
    margin-left: -200px;
  }
  100% {
    opacity: 1;
    margin: 0;
  }
}
/*content*/
.content {
  background-color: #3d3d3d;
}
/*HEADER*/
header {
  display: block;
  background-color: #262526;
  border-bottom: solid 2px #1c1c1c;
  position: sticky;
  top: 0%;
  padding: 10px;
}
#header_logo, #header_logo a{
  margin: 0 auto;
  color: #258B8D;
  font-family: 'Montserrat', sans-serif;
}
/*burger_icon*/
#burger_icon {
  display: none;
  color: #424242;
  font-size: 30px;
  line-height: 60px;
  margin-top: 5px;
}
#burger_icon_checkbox {
  display: none;
  float: right;
  margin-top: -40px;
}
/*header navigation bar*/
header nav {
  text-align: right;
}
header nav ul {
  list-style: none;
  margin: -30px 20px 10px 0;
}
header nav ul li {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
}
#nav_home a {
  border-bottom: solid 1px #444444;
}
#nav_home a:hover {
  border-bottom: solid 1px #258B8D;
}
#nav_login {
  color: #258B8D;
  background-color: #212121;
  border: solid 1px #258B8D;
  border-radius: 5px;
  padding: 5px;
}
header nav ul li a {
  padding: 3px 15px;
}
header nav ul li a:hover {
  border-bottom: solid 1px #258B8D;
}
/*MAIN*/
/*carousel images*/

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.carousel_size {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 0px 67px 2px rgba(0,0,0,0.75);
  animation: carousel_animation 800ms ease-in-out;
}
@keyframes carousel_animation {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
#carousel_img_01 {background-image: url("../../pictures/pictures_home/P1000510.JPG");}
#carousel_img_02 {background-image: url("../../pictures/pictures_home/P07.JPG");}
#carousel_img_03 {background-image: url("../../pictures/pictures_home/P10.JPG");}
#carousel_img_04 {background-image: url("../../pictures/pictures_home/P04.JPG");}
.quote_container {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: quote_animation 1000ms ease-in-out;
}
@keyframes quote_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.vertical_align {
}
h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 8px #111;
  animation: h2_animation 600ms ease-in-out;
}
.quote {
  color: white;
  font-size: 15px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px #111;
  line-height: 3rem;
  animation: p_animation 1000ms ease-in-out;
}
@keyframes p_animation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    margin-right: 20px;
  }
  100% {
    opacity: 1;
  }
}
/*gps coordinates*/
.gps_container {
  display: block;
  position: fixed;
  bottom: 1%;
  right: 1%;
  height: 36px;
}
.gps_ul {
  list-style: none;
  display: block;
  position: fixed;
  bottom: 1%;
  right: 1%;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  height: 36px;
}
.gps_ul li {
  text-align: center;
  display: inline-block;
}
.gps_icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
}
.coordinates {
  text-shadow: 2px 2px 8px #111;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 8px;
}
.arrow {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: 0;
  height: 0;
}
#backward_carousel{
  opacity: 0;
  left: 0;
  margin-left: 540px;
  transition: opacity 1000ms ease-in-out, transform 1000ms cubic-bezier(0.15, 1.18, 0.63, 0.99);
}

#backward_carousel #backward_logo {
  width: 32px;
  transform: rotate(180deg);
}
#forward_carousel{
  opacity: 0;
  right: 0;
  margin-right: 600px;
  transition: opacity 1000ms ease-in-out, transform 1000ms cubic-bezier(0.15, 1.18, 0.63, 0.99);
}
#forward_carousel #forward_logo {
 width: 32px;
}


/*social media*/
#social_media_container {
  margin: none;
}
.social_media {
  list-style: none;
  position: fixed;
  bottom: 1%;
  left: 0%;
  margin: 0 auto;
  padding: 0;
}
.social_media_list{
  display: block;
  width: 36px;
  height: 36px;
}
.social_media_logos {
  width: 36px;
  height: 36px;
}
.show_social_media {
  width: 36px;
  height: 36px;
  margin-bottom: -4px;
  cursor: pointer;
}

/*current index -> for image slider*/
.current_index_container {
  display: block;
  margin: 0 auto;
  position: fixed;
  padding: none;
  bottom: 5%;
  left: 0;
  right: 0%;
  height: 36px;
  text-align: center;
}
.current_index {
  cursor: pointer;
  display: inline-block;
  margin: 8px;
  height: 7px;
  width: 7px;
  border: solid 1px rgba(255, 255, 255);
  border-radius: 50%;
}
/*FOOTER*/
