@media only screen and (max-width: 4000px) {
  main:hover #backward_carousel {
    transform: translate(-500px);
    opacity: 1;
  }
  main:hover #forward_carousel{
    transform: translate(500px);
    opacity: 1;
  }
}
@media only screen and (min-width: 1500px) {
  header nav ul li a {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 1200px) {
  header nav ul li a {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 25%;
    text-align: center;
    padding: 20px;
    -webkit-box-shadow: none;
  }
  #enter {
    font-size: 20px;
  }
  header nav ul {
    margin-right: 10px;
  }
  #backward_carousel {
    margin-left: 100px;
  }
  #forward_carousel {
    margin-right: 140px;
  }
  #backward_carousel #backward_logo {
   width: 30px;
 }
 #forward_carousel #forward_logo {
  width: 30px;
  }
  main:hover #backward_carousel {
    transform: translate(-80px);
    opacity: .6;
  }
  main:hover #forward_carousel{
    transform: translate(90px);
    opacity: .6;
  }
}
@media only screen and (max-width: 850px) {
  header {
    padding: 10px 10px 0 20px;
  }
  #burger_icon {
    display: block;
    cursor: pointer;
  }
  header nav {
    margin-top: -54px;
  }
  #nav_ul {
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    line-height: 60px;
    padding: 5px;
    border-top: solid 1px #2d2d2d;
  }
  header nav ul li  {
    display: block;
    margin: 0;
  }
  header nav ul li a {
    margin: 0 10px;
  }
  #burger_icon_checkbox:checked + #nav_ul {
    display: block;
  }
  h2 {
    font-size: 25px;
    letter-spacing: 1.5rem;
  }
  .quote {
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 5px;
  }
}
@media only screen and (max-width: 600px) {
  #backward_carousel {
    opacity: .6;
    left: 0;
    margin-left: 20px;
  }
  #forward_carousel {
    opacity: .6;
    right: 0;
    margin-right: 50px;
  }
  #backward_carousel #backward_logo {
    display: none;
   width: 30px;
 }
 #forward_carousel #forward_logo {
   display: none;
  width: 30px;
  }
  main:hover #forward_carousel {
    transform: none;
  }
  main:hover #backward_carousel {
    transform: none;
  }
}
