* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  color: #848484;
  text-decoration: none;
}

html {
  font-family: "Quicksand" , sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  background: #262626;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

/*HEADER*/

header {
  display: block;
  background-color: #262626;
  border-bottom: solid 1px #1c1c1c;
  position: sticky;
  text-transform: uppercase;
  top: 0%;
  padding: 10px;
  z-index: 1000;
}
#heading {
  float: left;
  font-size: 25px;
  margin-left: 20px;
}
h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

#header_logo, #header_logo a{
  margin: 0 auto;
  color: #258B8D;
  font-family: 'Montserrat', sans-serif;
}

/*burger_icon*/
#burger_icon {
  display: none;
  margin: 0 auto;
  color: #424242;
  font-size: 30px;
  line-height: 60px;
  margin-top: 24px;
}

#burger_icon_checkbox {
  display: none;
  float: right;
  margin-top: -40px;
}

/*header navigation bar*/
header nav {
  text-align: right;
}

header nav ul {
  list-style: none;
  margin: 10px  0px 10px 10px;
}

header nav ul li {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 0 5px;
}

#nav_gallery a {
  border-bottom: solid 1px #444444;
}

#nav_login {
  color: #258B8D;
  background-color: #262626;
  border: solid 1px #262626;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  transition: .6s;
  overflow: hidden;
}

#nav_login:hover {
  cursor: pointer;
  border: solid 1px #258B8D;
}

header nav ul li a {
  position: relative;
  padding: 3px 15px;
}

header nav ul li a:after {
  content: '';
  display: block;
  border-bottom: 1px solid #444444;
  width: 0;
  bottom: -1px;
  position: absolute;
  left: 0;
  -webkit-transition: 1s ease;
  transition: .6s ease;
}

header nav ul li a:hover:after {
  width: 100%;
}

/*MAIN*/

.intro {
  text-transform: uppercase;
  font-family: "Poppins";
}

#krabi_intro {
  background-image: url("../../pictures/pictures_gallery/Nature/Krabi/Intro.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform:translatez(0);
    background-position: 50% 30%
}

#fuschlsee_intro {
  width: 100%;
  background-image: url("../../pictures/pictures_gallery/Nature/Fuschlsee/Intro.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-transform:translatez(0);
    background-position: 50% 30%
}

#lisbon_intro {
  width: 100%;
  background-image: url("../../pictures/pictures_gallery/City/Lisbon/Intro.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform:translatez(0);
    background-position: 50% 30%
}
#edinburgh_intro {
  width: 100%;
  background-image: url("../../pictures/pictures_gallery/City/Edinburgh/Intro.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform:translatez(0);
    background-position: 50% 30%
}

#intro_text {
  color: #fff;
  font-size: 68px;
  padding: 140px 0 180px 80px;
  letter-spacing: 3px;
}

#intro_text_info {
  margin-top: 20px;
  font-size: 20px;
}

.categorie_h {
  display: block;
  z-index: 1000;
  height: 50px;
  background-color: rgba(0, 0, 0, .8);
  transform: rotate(90deg);
  position: fixed;
  top: 5%;
  right: 0%;
  margin: -30px;
  text-align: center;
  line-height: 50px;
  width: 100px;
}
.work {
  text-align: center;
  width: 100%;
  margin-top: 0.2%;
}

.work img {
  margin: 0.3% 0.2% 0.2% 0.2%;
  width: 49.2%;
}

/*social media*/

#social_media_container {
  margin: none;
}
.social_media {
  list-style: none;
  position: fixed;
  bottom: 1%;
  left: 0%;
  margin: 0 auto;
  padding: 0;
}
.social_media_list{
  display: block;
  width: 36px;
  height: 36px;
}
.social_media_logos {
  width: 36px;
  height: 36px;
}
.show_social_media {
  width: 36px;
  height: 36px;
  margin-bottom: -4px;
  transform: rotate(90deg);
  cursor: pointer;
}

/*photography categories*/
#photo_categories_container {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}


#categories {
  display: none;
  position: relative;
  bottom: 0%;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  border-top: none;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
  float: center;
}

#show_categories {
  cursor: pointer;
  border-radius: 0 10px 10px  0;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: -16.5px;
  height: 50px;
  width: 50px;
  border-bottom: none;
}

#categories li {
  margin: 0 5px 0 5px;
  display: inline-block;
  text-transform: uppercase;
  width: 30%;
  cursor: pointer;
  line-height: 40px;
}



/*FOOTER*/
footer {
  display: block;
  text-align: center;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  background-color: #262626;
}
#footer_container {
  display: block;
  height: 100%;
  text-align: center;
  margin-top: 20px;
}
#information {
  height: 100%;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
}
#contact {
  display: block;
  margin: 0 auto;
  color: #848484;
  letter-spacing: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 8px;
  padding: 12px;
  width: 30%;
}
#copyright {
  display: block;
  margin: 0 auto;
  color: #848484;
  letter-spacing: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 12px;
}

/* Responsiveness */

@media only screen and (max-width: 991px) {

      .work img {
            margin: 2%;
            width: 90%;
      }

      .header2 {
            margin: 130px 0 40px 12px;
      }

      .header2 h1 {
            font-size: 36px;
      }

      .header2 p {
            font-size: 12px;
            width: 90%;
      }

      .work2 img {
            margin: 2%;
      }
}
